.jumbotron {
  background-image: url("../../../assets/images/jumbotron-bg.png");
  background-size: cover;

  .container {
    max-width: 960px;
  }

  .lead {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1281px) {
  .jumbotron {
    .container {
      margin-left: 10rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .jumbotron {
    padding: 6rem 2rem;
  }
}
