<div class="jumbotron jumbotron-fluid">
  <div class="container text-white">
    <h2>Bienvenue sur Centre'Auto'Ccas</h2>
    <h3 class="display-4">Votre solution pour l'occasion</h3>
    <p class="lead">Nous recensons pour vous des offres de véhicules d'occasion et vous mettons en relation avec les
      professionnels pour la ou les voitures qui vous intéressent.</p>
    <p>Commençons par rechercher la voiture de votre choix :</p>
  </div>
  <div class="container text-white">
    <app-search-bar></app-search-bar>
  </div>
</div>
