<div class="container-lg">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <select id="marque" class="custom-select" (change)="filterModele($event)">
        <option value="" selected>Marque</option>
        <option *ngFor="let marque of marques" [value]="marque.id">{{ marque.nom }}</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-6">
      <select id="modele" class="custom-select" [disabled]="isModeleDisabled">
        <option value="" selected>Modèle</option>
        <option *ngFor="let modele of modeles" [value]="modele.id">{{ modele.nom }}</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-6">
      <select id="prix" class="custom-select">
        <option selected>Prix</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-6">
      <select id="carburant" class="custom-select">
        <option selected>Carburant</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-6">
      <select id="kilometrage" class="custom-select">
        <option selected>Kilométrage</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-6">
      <select id="annee" class="custom-select">
        <option selected>Année de mise en circulation</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</div>
