<h2 class="text-center mb-5">Tableau de bord</h2>

<div class="container px-0">
  <div class="row">
    <div class="col-lg-6">
      <app-edit-professionnel></app-edit-professionnel>
    </div>
    <div class="col-lg-6 mt-3 mt-lg-0">
      <div class="container px-2 form">
        <h3 class="text-center">Actions</h3>
        <div class="bg-light p-3">
          <!--<div class="mb-3">
            <a class="text-decoration-none" routerLink="./garages">
              <button class="btn btn-outline-success btn-block">Gérer mes garages</button>
            </a>
          </div>-->
          <div class="mb-3">
            <a class="text-decoration-none" routerLink="./annonces">
              <button class="btn btn-outline-info btn-block">Gérer mes annonces</button>
            </a>
          </div>
          <div>
            <a class="text-decoration-none" routerLink="./annonces/add">
              <button class="btn btn-outline-info btn-block">Ajouter une annonce</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

